{% extends "layout.html" %}
{% block title %}Text got Kappa'd{% endblock %}
{% block head %} 
{% endblock %}
{% block body %}
<div class="container">
	<div class="jumbotron">
		<div class="row">
			<h1 id="title">Mod your text!</h1>
			<p style=text-align:center>insert your text below</p>
			<div class="row">
				<div class="input-group col-md-12">
					<input type="text" id="Text" class="form-control input-lg" placeholder="Enter text to Kappa" />
					<span class="input-group-btn">
							<button class="btn btn-info btn-lg" id="urlButton" type="submit">
							Kappa!
							</button>
				</span>
				</div>
				
			</div>
		</div>
		<div class="row" style=text-align:center>
			<div class="checkbox">
				<label>
   					 <input type="checkbox" value="" id="checkbox1">
  						Waves Disabled (for .info)
				</label>
				<label>
   					 <input type="checkbox" value="" id="checkbox2">
  						Caps Disabled 
				</label>
				<label>
   					 <input type="checkbox" value="" id="checkbox3">
  						Colors Disabled 
				</label>
				<label>
   					 <input type="checkbox" value="" id="checkbox4">
  						Normal Sized
				</label>
				<label>
   					 <input type="checkbox" value="" id="checkbox5">
  						Size waves
				</label>				
			</div>			
		</div>
		<div class="row" style=text-align:center>
			<div class=".col-md-6">
				<a href="http://themarinearena.com/index.php" target="_blank"> 
					Quick link to themarinearena.com
				</a>
			</div>
			<div class=".col-md-6 lastlink" >
				<a href="http://themarinearena.com/mchat.php#mChat" target="_blank"> 
					Quick link to the chat room!
				</a>
			</div>
		</div>


		<br />
		<br />


		<div><p id="result"><p></div>
		<div id="Monteimage" class=".center-block .imagecontainer"></div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='monte.js') }}"></script>
{% endblock %}