{% extends "layout.html" %}
{% block title %}Text got Kappa'd{% endblock %}
{% block head %} 
{% endblock %}
{% block body %}
<div class="container">
	<div class="jumbotron">
		<div class="row">
			<h1 id="title">Monte your text!</h1>
			<p style=text-align:center>insert your text below</p>
			<div class="row">
				<div class="input-group col-md-12">
					<input type="text" id="nomralText" class="form-control input-lg" placeholder="Enter text to Kappa" />
					<span class="input-group-btn">
							<button class="btn btn-info btn-lg" id="urlButton" type="submit">
							Kappa!
							</button>
				</span>
				</div>
				
			</div>
		</div>
		<br />
		<br />
		<div><p id="result"><p></div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='monte.js') }}"></script>
{% endblock %}